################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CronTranslator/v15
/CronTranslator/bin
/CronTranslator/obj
/packages
